[Unit]
Description=btrbk internal snapshot
Documentation=man:btrbk(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/btrbk run -c /etc/btrbk/btrbk_shire.conf